.btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  transition: all 0.2s;
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn__icon {
  width: 20px;
  height: 20px;
}

/* Варианты */
.btn--primary {
  background: var(--primary-color);
  color: var(--default-color);
}

.btn--default {
  background: var(--default-color);
  color: var(--primary-color);
}

.btn--secondary {
  background: var(--secondary-color);
  color: var(--default-color);
  border: 1px solid transparent;
}

.btn--secondary:hover {
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.btn--secondary-outline {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.btn--secondary-outline:hover {
  background-color: var(--secondary-color);
  color: var(--default-color);
}

.btn--close {
  width: 46px;
  height: 46px;
  border-radius: 200px;
  background-color: var(--primary-color);
  color: var(--default-color);

  display: flex;
  align-items: center;
  justify-content: center;
}
