* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  font-size: inherit;
  display: inline-block;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}

button {
  font-family: inherit;
  background-color: transparent;
  border: 1px solid transparent;
  color: inherit;
  cursor: pointer;
}

input {
  font-family: inherit;
}

input::placeholder {
  font-family: inherit;
}
